<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/keystore?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">linh1996</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.connection.pool_size">10</property>
    <mapping resource="entities/database/Catalog.hbm.xml"/>
    <mapping resource="entities/database/Manufacturer.hbm.xml"/>
    <mapping resource="entities/database/User.hbm.xml"/>
    <mapping resource="entities/database/ProductDetail.hbm.xml"/>
    <mapping resource="entities/database/Type.hbm.xml"/>
    <mapping resource="entities/database/PaymentMethod.hbm.xml"/>
    <mapping resource="entities/database/ProductKey.hbm.xml"/>
    <mapping resource="entities/database/Order.hbm.xml"/>
    <mapping resource="entities/database/Admin.hbm.xml"/>
    <mapping resource="entities/database/ProductImage.hbm.xml"/>
    <mapping resource="entities/database/OrderDetail.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
